@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto py-2 px-5 md:px-10 w-full;
  }
  .primary-btn {
    @apply px-4 py-1 md:px-6 md:py-2 text-sm bg-primary text-black hover:bg-black hover:text-primary border border-primary hover:border-primary tracking-wide font-medium transition-colors duration-300 rounded-full;
  }
  .secondary-btn {
    @apply px-4 py-1 md:px-6 md:py-2 text-sm bg-black text-primary hover:bg-primary hover:text-black border border-primary tracking-wide font-medium transition-colors duration-300 rounded-full;
  }
  .disabled-btn {
    @apply px-4 py-1 md:px-6 md:py-2 text-sm bg-black text-gray-500 border border-gray-500 tracking-wide font-medium rounded-full flex justify-center;
  }
  .default-btn-styles {
    @apply px-4 py-1 md:px-6 md:py-2 text-sm border tracking-wide font-medium rounded-full flex justify-center;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tw-bg-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* html,
body:root {
  height: 100%;
} */

html {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  /* background: rgb(127 29 29 / var(--tw-bg-opacity)); */
  background: #f1ff00;
  border-radius: 6px;
}

body {
  overflow-x: hidden;
}

/* .animate-ball {
  animation: ball-bounce 0.9s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  -webkit-animation-name: ball-bounce;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
}

@keyframes ball-bounce {
  0% {
    -webkit-transform: translate3d(0, -180px, 0);
    transform: translate3d(0, -180px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
  100% {
    -webkit-transform: scaleX(1.2);
    transform: scaleX(1.2);
  }
} */

.banner-loader {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #f1ff00;
  position: relative;
}
.banner-loader:before,
.banner-loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #fff;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.banner-loader:after {
  animation-delay: 0.5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}

/* home page card item loader */
.card.is-loading .image,
.card.is-loading span,
.card.is-loading p,
.card.is-loading h2,.card.is-loading small {
  background: #f1ff00;
  background: linear-gradient(100deg, #191919 8%, #313131 18%, #191919 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.25s shine linear infinite;
}


@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
