@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
/* body {
  @apply bg-lightBackground text-lightText;
} */

/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
  body {
    @apply bg-darkBackground text-darkText;
  }
} */

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto py-2 px-5 md:px-10 w-full;
  }
  .primary-btn {
    @apply px-4 md:px-6 py-2 text-sm bg-primary text-black hover:bg-[#101010] hover:text-primary border border-primary hover:border-primary tracking-wide font-medium transition-colors duration-300 rounded-full;
  }
  .secondary-btn {
    @apply px-4 md:px-6 py-2 text-sm bg-[#101010] text-primary hover:bg-primary hover:text-black border border-primary tracking-wide font-medium transition-colors duration-300 rounded-full;
  }
  .disabled-btn {
    @apply px-4 md:px-6 py-2 text-sm bg-[#101010] text-gray-500 border border-gray-500 tracking-wide font-medium rounded-full flex justify-center;
  }
  .default-btn-styles {
    @apply px-4 md:px-6 py-2 text-sm border tracking-wide font-medium rounded-full flex justify-center;
  }
}

html {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #f1ff00;
  border-radius: 3px;
}

body {
  overflow-x: hidden;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"] {
  background: #f1f1f1;
}

.mini-loader {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #f1ff00;
  position: relative;
}
.mini-loader:before,
.mini-loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #fff;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.mini-loader:after {
  animation-delay: 0.5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}

/* home page card item loader */
.card.is-loading .image,
.card.is-loading span,
.card.is-loading p,
.card.is-loading h2,
.card.is-loading small {
  background: #f1ff00;
  background: linear-gradient(100deg, #191919 8%, #313131 18%, #191919 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.25s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* loading.jsx loader styles */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #f1ff00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 